<div class="container mx-auto px-4 py-8 max-w-6xl">
    <div class="flex flex-col lg:flex-row gap-10">
      
      <!-- Gallery -->
      <div class="flex-1">
        <div class="w-full aspect-[4/5] bg-white flex items-center justify-center border rounded-lg">
          <img [src]="detail.image" alt="Main Product" class="object-contain h-full" />
        </div>
        <div class="flex gap-4 mt-4 justify-center">
          <img src="assets/img/products/thumb1.png" class="w-16 h-16 object-cover border-2 border-pink-500 rounded-md" />
          <img src="assets/img/products/thumb2.png" class="w-16 h-16 object-cover rounded-md" />
          <img src="assets/img/products/thumb3.png" class="w-16 h-16 object-cover rounded-md" />
          <img src="assets/img/products/thumb4.png" class="w-16 h-16 object-cover rounded-md" />
        </div>
      </div>

    </div>
  </div>
  